{% block css %}
{% include 'layouts/background-style.html' %}
{% endblock %}

{% extends 'layouts/navbar.html' %}
{% block title %}Volunteer Connect{% endblock %}

{% block content %}
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
</html>

<center><h1>Things to know</h1></center>

<style>
      .button {
  background-color: #0B4742; /* Green */
  border: none;
  width:100%;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  border-radius:7px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.9s;
  cursor: pointer;
}
.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



</style>
<body>

<button class="button button1">Natural Calamity</button>
<img src="/static/images/naturalcalamity.jpg" alt="mage" width="700" height="300" style="width:50%;">
<br/>

<p>A report by the United Nations in 2014
    states that 4 billion people have been affected by disasters
    since 1994, claiming 1.3 million lives and costing US$2 trillion
    in economic losses. A natural calamity can cause sudden
    hindrance to life around, leaving them helpless. It causes
    damage to the property, land and leads to severe pollution
    issues. It affects the living of people around in many direct
    and indirect ways by taking away their homes, work and
    food supplies. It can affect public health by spreading various
    infectious diseases.
    One such present case is Australian bush fires. According
    to the reports, more than 18 million hectares of land have
    burned as of mid January, taking away about 6000 buildings
    and 3000 homes and millions of animals.
    Major areas of losses are from areas: Environment- Bushfire
    ash is contaminating the air, water and land in australia,
    polluting the marine ecosystem in extreme. Also the ash is
    spreading on the landscapes and has even landed on school’s
    playgrounds, beaches and freshwater bodies. Climate- Australian
    bushfire is contributing to the annual carbon emissions
    of Australia and also the overall greenhouse gas emissions. It is
    a factor going to contribute in climate change and further result
    in such natural catastrophes. Ecology- Loss of habitat and food
    sources will result in further loss of animals and insects. This
    shows that how biodiversity is going to be affected on a large
    scale and in turn worsening the condition of our global food
    cycle. Health- Wildfires produce fine particle air pollutants
    causing intense air pollution. Even short term exposure to
    this air is going to cause many respiratory and cardiac health
    diseases. Along with physical health it is affecting people
    psychologically, as many lost their homes and livelihoods.
    Economic- The damage to infrastructure is going to cost a lot
    to the australian economy. Many of the industries like farming
    and tourism are facing major trouble. Wildlife- Australian
    forests are home to a million of species. This disaster has
    caused most severe damage to the wildlife. Millions of animals
    have died. There are many species with little population that
    might have been completely wiped off. Many more are at risk
    as they have lost their habitat and food resources.</p>

<button class="button button2">Past Incidents</button>
<img src="/static/images/fire.jpg" alt="mage" width="700" height="300" style="width:50%;">
<br/>
<p>In some cases people are not
    aware of the ways they can contribute or about the available
    opportunities. Other times, organisations are unable to hire
    volunteers in emergency. They might need some time to find
    people nearby who can reach out. These situations can create a
    time lag and affected people and areas cant get the aid on right
    time. This can worsen the damage and can result in many more
    after effects. Natural calamities can not be predicted neither
    can the need for volunteers. As no one can not anticipate when
    and where there is going to be a need of volunteers there can
    be a shortage of volunteers. Manpower plays a very important
    role in such circumstances beyond one’s control. In case of
    Australian bushfire, firefighters are facing a hard time. Such
    large scale impact on Australia has resulted in shortage of fire
    fighting force. This really means they need urgent help to doze
    off the fires as the rising temperatures may further escalate the
    situation. Also there is a need to rescue the helpless animals
    who are stuck in the burning forests. This shows that a crisis
    of aid in such situation can completely change the scenario.</p>

<button class="button button3">Motivation</button>
<img src="/static/images/thingstoknow.jpg" alt="mage" width="700" height="300" style="width:50%;">
<br/>

<p>In emergency situations like natural
    disasters, it is our responsibility as humans to help the ones
    affected. Being blessed with a human life we are capable
    of serving the society in many ways. But in case of such
    large scale issues such as natural disasters, there is a lack of
    connectivity between the ones who need help and the ones who
    are willing to help. If there is no proper communication there
    can be a shortage of resources which are actually available
    to rescue the needy ones. In many past cases it has been
    witnessed that people suffered a lot more just because they
    could not get the required aid on time. There are many
    situations when there is a sudden need of manpower but the
    number requirement is not met.</p>

</body>


{% endblock %}
