{% block css %}
{% include 'layouts/background-style.html' %}
{% endblock %}

{% extends 'layouts/navbar.html' %}

{% block content %}
<div class="row">
    <h1>Volunteers</h1>
    <table class="table table-bordered">
        <thead class="thead-dark">

        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>

        <tbody>
        {% for v in volunteers %}

        <tr>
            <td>{{ v.name }}</td>
            <td>{{ v.email }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}